<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node API</title>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

		<!-- CSS only -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- customised css -->
		<!-- <link href="/css/style.css" rel="stylesheet" type="text/css"> -->

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#e3f2fd !important;">
		  <div class="container-fluid">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="/">Home</a>
		        <a class="nav-link active" href="/addCountry">Add Country</a>
		      </div>
		  </div>
		</nav>
	</body>