<%- include('layouts/header') %>

<!-- Classes Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width:600px;">
				<h1 class="mb-3">Activities in Pathshala</h1>
				<p>Imparting knowledge about Jain Dharam with fun filled activities.</p>
			</div>
			<div class="row g-4">
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
		    		<div class="classes-item">
				        <div class="bg-light rounded-circle w-75 mx-auto p-3">
				            <img class="img-fluid rounded-circle" src="/tab1.jpg" alt="">
				        </div>
		        		<div class="bg-light rounded p-4 pt-5 mt-n5">
		            		<span class="d-block text-center h3 mt-3 mb-4">Story Reading</span>
				            <div class="d-flex align-items-center justify-content-between mb-4">
				                <div class="d-flex align-items-center">
				                    <img class="rounded-circle flex-shrink-0" src="/user.jpg" alt="" style="width: 45px; height: 45px;">
				                    <div class="ms-3">
				                        <h6 class="text-primary mb-1">Rujuta Vimawala</h6>
				                        <small>Teacher</small>
				                    </div>
				                </div>
				        	</div>
				            <div class="row g-1">
				                <div class="col-4">
				                    <div class="border-top border-3 border-secondary pt-2">
				                        <h6 class="text-secondary text-center mb-1">Mythological</h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-success pt-2">
				                        <h6 class="text-success text-center mb-1">Moral</h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-warning pt-2">
				                        <h6 class="text-warning text-center mb-1">Krupaludev's Life Events</h6>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				    <div class="classes-item">
				        <div class="bg-light rounded-circle w-75 mx-auto p-3">
				            <img class="img-fluid rounded-circle" src="/tab2.jpg" alt="">
				        </div>
				        <div class="bg-light rounded p-4 pt-5 mt-n5">
				            <span class="d-block text-center h3 mt-3 mb-4">Nityakram & Prayer</span>
				            <div class="d-flex align-items-center justify-content-between mb-4">
				                <div class="d-flex align-items-center">
				                    <img class="rounded-circle flex-shrink-0" src="/user.jpg" alt="" style="width: 45px; height: 45px;">
				                    <div class="ms-3">
				                        <h6 class="text-primary mb-1">Rujuta Vimawala</h6>
				                        <small>Teacher</small>
				                    </div>
				                </div>
				            </div>
				            <div class="row g-1">
				                <div class="col-4">
				                    <div class="border-top border-3 border-secondary pt-2">
				                        <h6 class="text-secondary text-center mb-1">Satsang & Sadhna </h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-success pt-2">
				                        <h6 class="text-success text-center mb-1">Pooja & Bhakti</h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-warning pt-2">
				                        <h6 class="text-warning text-center mb-1">Seva & Sanskruti</h6>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				    <div class="classes-item">
				        <div class="bg-light rounded-circle w-75 mx-auto p-3">
				            <img class="img-fluid rounded-circle" src="/tab3.jpg" alt="">
				        </div>
				        <div class="bg-light rounded p-4 pt-5 mt-n5">
				            <span class="d-block text-center h3 mt-3 mb-4">Fun Corner</span>
				            <div class="d-flex align-items-center justify-content-between mb-4">
				                <div class="d-flex align-items-center">
				                    <img class="rounded-circle flex-shrink-0" src="/user.jpg" alt="" style="width: 45px; height: 45px;">
				                    <div class="ms-3">
				                        <h6 class="text-primary mb-1">Rujuta Vimawala</h6>
				                        <small>Teacher</small>
				                    </div>
				                </div>
				            </div>
				            <div class="row g-1">
				                <div class="col-4">
				                    <div class="border-top border-3 border-secondary pt-2">
				                        <h6 class="text-secondary text-center mb-1">Games</h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-success pt-2">
				                        <h6 class="text-success text-center mb-1">Skits</h6>
				                    </div>
				                </div>
				                <div class="col-4">
				                    <div class="border-top border-3 border-warning pt-2">
				                        <h6 class="text-warning text-center mb-1">Singing Stavans</h6>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>

		<!-- Start Activity Details -->

		<div id="story-reading" class="container py-5">
		<div class="row">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="position-relative h-100">
                    <img class="rounded w-75" src="/early-life.jpg" style="object-fit:scale-down;">
                </div>
            </div>
            <div class="col-lg-8 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100 d-flex flex-column justify-content-center">
                	<h2>Dawn of a New Era</h2>
					<h5>1867</h5>
					<p>On the radiant full moon night of Kartik Purnima, V.S. 1924 (9 November, 1867), the port town of Vavania, Gujarat, was blessed with the arrival of Raichand. Little did His parents, Devba and Ravjibhai Mehta, know that the infant they held in their hands, would hold the hands of multitude of seekers, guiding them to eternal liberation.</p>
                </div>
            </div>
        </div>
    </div>

		<!-- End Activity Details -->
	</div>
<!-- Classes End -->

<%- include('layouts/footer') %>