/********** Template CSS **********/

:root {
    --primary: #7cc350;
    --light: #FFF5F3;
    --dark: #103741;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../img/bg-1.gif");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes {
    background-image: url("../img/quotes-background.jpg");
    min-height: 19rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 18px #888888;
}

.test {
    position: relative;
    float: left;
    width: 100%;
    height: 85vh;
    background: floralwhite;
}

.box {
    position: relative;
    width: 100%;
    /*min-height: calc(100vh - 84.391px);*/
    /* height: 85vh; */
    border: 5px solid black;
    background: url("../img/homePageImg.png") center top no-repeat;
    background-size: cover;
    /* overflow-x: hidden; */
    /* margin-bottom: 30px; */
}

.left {
    position: absolute;
    width: 50%;
    left: 0;
    height: -webkit-fill-available;
    background: url("../img/sample.gif");
    background-size: cover;
}

.right {
    position: absolute;
    width: 50%;
    right: 0;
    height: -webkit-fill-available;
    background: url("../img/sample.gif");
    background-size: cover;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

#main_bg_image {
    height: auto;
    width: 100%;
}

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 400px;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
    width: 300px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.prevLeftSecond img {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.nextRightSecond img {
    width: 200px;
}

.buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*////////////////////////////////////////////////////////////*/

#scene {
    position: relative;
    width: 100%;
    /* min-height: calc(100vh - 84.391px); */
    /*height: 85vh;*/
    /*border: 5px solid black;*/
    background: url("../img/homePageImg.png") center top no-repeat;
    background-size: cover;
    overflow: hidden;
    /* margin-bottom: 30px; */
}

#curtain {
    width: 100%;
    /* min-height: calc(100vh - 84.391px); */
    overflow: hidden;
    background: transparent;
}

#curtain .leftc,
#curtain .rightc {
    position: absolute;
    top: 0;
    width: 50%;
    /* min-height: calc(100vh - 84.391px); */
    height: 100%;
    filter: brightness(180%);
    background-image: url("../img/curtain.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#curtain .leftc {
    left: 0;
    transform-origin: top right;
}

#curtain .rightc {
    left: 50%;
    transform-origin: top left;
}


/* **********
  opening
********** */


/*#scene.expand {
  animation-name: expand-scene-horizontaly, expand-scene-verticaly;
  animation-duration: 2.5s, 1.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 2.5s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
}*/

#curtain.open .leftc,
#curtain.open .rightc {
    filter: brightness(100%);
}

#curtain.open .leftc {
    animation-fill-mode: forwards;
    animation-name: curtain-opening, left-curtain-opening;
    animation-duration: 0s, 3s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}

#curtain.open .rightc {
    animation-fill-mode: forwards;
    animation-name: curtain-opening, right-curtain-opening;
    animation-duration: 0s, 3s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}


/* **********
  animations
********** */

@keyframes curtain-opening {
    /* 2s */
    from {
        filter: brightness(180%);
    }
    to {
        filter: brightness(100%);
    }
}

@keyframes left-curtain-opening {
    /* 4s */
    from {
        transform: translate(0) rotate(0) scale(1, 1);
    }
    to {
        transform: translate(-100%) rotate(2deg) scale(0, 1);
    }
}

@keyframes right-curtain-opening {
    /* 4s */
    from {
        transform: translate(0) rotate(0) scale(1, 1);
    }
    to {
        transform: translate(100%) rotate(-2deg) scale(0, 1);
    }
}


/*////////////////////////////////////////////////////////////*/


/*** Fancy Box ***/

a[data-fancybox] img {
    cursor: zoom-in;
}

.align-img a img {
    padding: 7px;
}

.fancybox__container {
    --fancybox-bg: rgba(17, 6, 25, 0.85);
}

.fancybox__container .fancybox__content {
    /* Create white border around the image */
    box-sizing: content-box;
    padding: 1rem;
    background: #fff;
    border-radius: 6px;
    color: #374151;
    box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
}

.fancybox__caption {
    max-width: 80%;
    /* Prevent opacity change when dragging up/down */
    --fancybox-opacity: 1;
}


/*** Fancy Box ***/


/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** curtain animation ***/

.curtain {
    margin: 0 auto;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.curtain__wrapper {
    width: 100%;
    height: 100%;
}

.curtain__wrapper input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    top: 0;
    left: 0;
}

.curtain__wrapper input[type="checkbox"]:checked~div.curtain__panel--left {
    transform: translateX(0);
}

.curtain__wrapper input[type="checkbox"]:checked~div.curtain__panel--right {
    transform: translateX(0);
}

.curtain__panel-left {
    display: flex;
    align-items: center;
    background-image: url("../img/sample-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 85vh;
    transition: all 1.8s ease-out;
    z-index: 2;
}

.curtain__panel-right {
    display: flex;
    align-items: center;
    background-image: url("../img/sample-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    float: right;
    position: relative;
    width: 50%;
    height: 85vh;
    transition: all 1.8s ease-out;
    z-index: 2;
}

.curtain__panel--left {
    justify-content: flex-end;
    transform: translateX(-100%);
}

.curtain__panel--right {
    justify-content: flex-start;
    transform: translateX(100%);
}

.curtain__content {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.curtain__content img {
    width: 100%;
    height: 85vh;
}


/*** Vicharan hover effect ***/

.hover-image {
    opacity: 1;
    display: block;
    object-fit: cover;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-container:hover .hover-image {
    opacity: 0.3;
}

.hover-text {
    background-color: #198754;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.hover-container:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/**** image gallery in vicharandetails ****/


/* The grid: Four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.fitImageEqually {
    height: 100%;
    object-fit: cover;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The expanding image container (positioning is needed to position the close button and the text) */

.imageContainer {
    position: relative;
    display: none;
}


/* Closable button inside the image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/*** Heading ***/

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 600;
}

.font-secondary {
    font-family: 'Lobster Two', cursive;
}


/*** Navbar ***/

.navbar .navbar-nav .nav-link {
    padding: 30px 15px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: calc(100% - 15px);
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.custom-shape-divider-top-1652181938 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652181938 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1652181938 .shape-fill {
    fill: #FFFFFF;
}


/** For mobile devices **/

@media (max-width: 767px) {
    .custom-shape-divider-top-1652181938 svg {
        width: calc(100% + 1.3px);
        height: 87px;
    }
}


/*** Header ***/

.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url("../img/bg-header-top.png") center center repeat-x;
    z-index: 1;
}

.header-carousel::after,
.page-header::after {
    height: 19px;
    top: auto;
    bottom: 0;
    background: url("../img/bg-header-bottom.png") center center repeat-x;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Facility ***/

.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}

.facility-item .facility-text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/

.about-img img {
    transition: .5s;
}

.about-img img:hover {
    background: var(--primary) !important;
}


/*** Classes ***/

.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Testimonial ***/

.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/

.footer {
    position: relative;
    width: 100%;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    border-color: var(--primary);
    background: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary) !important;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.fly-effect a:hover {
    transform: translateY(-10px);
}

.footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}

.footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    border: none;
    animation: animateWave_01 4s linear infinite;
}

.footer .wave#wave2 {
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    border: none;
    animation: animateWave_02 4s linear infinite;
}

.footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 15px;
    border: none;
    animation: animateWave_01 3s linear infinite;
}

.footer .wave#wave4 {
    z-index: 999;
    opacity: 0.8;
    bottom: 20px;
    border: none;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave_01 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

.grid-style {
    margin: 2.5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.wrapper {
    max-width: calc(100% / 4);
    min-width: 10em;
}

.book {
    height: 250px;
    width: 175px;
    position: relative;
    transition: .4s ease-in-out;
    border-radius: 5px 15px 15px 5px;
    transform-origin: left center 0px;
    display: inline-block;
    margin: 15px;
    perspective: 800px;
}

.book:hover {
    transform: rotateZ(-8deg);
}

.book:hover .book__cover {
    transform: rotateY(-40deg);
    z-index: 999;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
}

.book__cover {
    height: 250px;
    width: 175px;
    position: absolute;
    left: 0;
    border-radius: 5px 15px 15px 5px;
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transition: 0.5s linear;
    transform-style: preserve-3d;
    transform-origin: left center 0px;
    background-size: 180px 255px;
}

.book__detail {
    background-color: rgba(51, 51, 51, 0.8);
    margin-top: 185px;
    padding: 15px;
    font-size: 12px;
    font-weight: 800;
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.book__page {
    height: 100%;
    width: 175px;
    position: absolute;
    background-color: #fbfae8;
    z-index: 0;
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.25);
    border-radius: 5px 16px 16px 5px;
    overflow: hidden;
}

.book__page.ruled {
    background: linear-gradient(to bottom, #fbfae8 9px, #e4e4e4 1px);
    background-size: 100% 10px;
}

.book__page.squared {
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px), linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
    background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
}

.book__page.dotted {
    background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center, linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
    background-size: 11px 11px;
}

@media screen and (max-width: 800px) {
    .column-img {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column-img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    #scene {
        height: 42vh;
    }
}


/* youtube video iframe inside custom shape */

.outer {
    background-image: url("../img/img-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 70%;
}


/* activities=> fun corner videos */

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video {
    height: 12rem;
    width: 22rem;
    margin: 1rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
    overflow: hidden;
    border-radius: 1.5rem;
}

.video-container .video iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}


/* .video-container .video iframe:hover {
    transition: .2s linear;
    transform: scale(1.3);
} */

.video-container .video .active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.video-container .video .active:hover {
    transition: none;
    transform: translate(-50%, -50%) scale(1);
}

.about_us-video_aligment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vicharan-navigation_destination_hide {
    display: none;
}


/*@media for tablet view*/

@media screen and (max-width: 1024px) and (min-width: 992px) {}